//Cores
$black: black;
$red: red;
$white: white;
$off-white: whitesmoke;
$off-red: firebrick;

//Dimensoes responsivas
$frame-width-small: 300px;
$frame-height-small: 200px;
$cell-breakpoint: 350px;   

//Fonte
$fonte: Arial, Helvetica, sans-serif;